extends layout

block content
  h1.page-header= title

  // show error message
  include ../includes/error_message

  if contact || dataError
    if dataError
      - contact = dataError
    form.form-horizontal(method="POST")
      div.form-group
        label.control-label.col-sm-2(for='title') Tiêu đề:
        div.col-sm-10
          input.form-control#name(value=contact.title name="title")
      div.form-group
        label.control-label.col-sm-2(for='caption') Caption:
        div.col-sm-10
          input.form-control#name(value=contact.caption name="caption")
      div.form-group
        label.control-label.col-sm-2(for='name') Tên liên lạc:
        div.col-sm-10
          input.form-control#name(value=contact.name name="name")
      div.form-group
        label.control-label.col-sm-2(for='phone') Phone:
        div.col-sm-10
          input.form-control#name(value=contact.phone name="phone")
      div.form-group
        label.control-label.col-sm-2(for='mobile') Mobile:
        div.col-sm-10
          input.form-control#mobile(value!=contact.mobile name="mobile")
      div.form-group
        label.control-label.col-sm-2(for='email') Email:
        div.col-sm-10
          input.form-control#email(value!=contact.email name="email")
      div.form-group
        label.control-label.col-sm-2(for='fbLink') Link facebook:
        div.col-sm-10
          input.form-control#fbLink(value!=contact.facebookLink name="facebookLink")
      input(value!=contact._id name="contactId" type="hidden")
      div.form-group
        div.col-sm-2
        div.col-sm-10
          input.btn.btn-warning(type="submit" value="Update")

    