<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="#{product.imagePath}" alt="#{product.imagePath}" class="img-response">
    <div class="caption">
      <h3>#{product.title}</h3>
      <p class="description">#{product.description}</p>
      <div class="clearfix">
        <div class="price pull-left">$#{product.price}</div>
        <a href="/cart/add/#{product._id}" class="btn btn-success pull-right" role="button"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</a>
      </div>
    </div>
  </div>
</div>