extends ../layout

block content
  h1.page-header= title

  // show error message
  include ../../includes/error_message
  
  if product || dataError
    if dataError
      - product = dataError
    form.form-horizontal(action='' method="POST")
      fieldset
        div.col-lg-12.form-group
          label.col-lg-2(for="title") Tên sản phẩm
          div.col-lg-4
            input#title.form-control(name="title" 
              placeholder="Tên sản phẩm" autocomplete="off" 
              min="10" max="100" value!=product.title)
        div.col-lg-12.form-group
            div.col-lg-2
              label.col-lg-12(for="imagePath") Link image
              br
              br
              button.btn.btn-primary#btnAddImage Thêm ảnh
                | 
                i.fa.fa-plus-square
            div.col-lg-10#imageGroup
              include ../include/modalImg
              each img, index in product.image
                div.form-group.imageGroupInput#imageGroupInput
                  div.col-md-6
                    input.imagePath.form-control(name="imagePath" 
                      placeholder="Link hình ảnh sản phẩm" value!=img.pathImage)
                  div.col-md-2
                    label
                      input.defaultImage(type="radio" name="defaultImage" checked=img.defaultImage value=index+1)
                      | Default
                  div.col-md-2
                    label
                      input.bannerImage(type="radio" name="bannerImage" checked=img.bannerImage value=index+1)
                      | Banner
                  div.col-md-2
                    button.btn.btn-sm.btn-danger.btnRemove(data-toggle="tooltip"
                      data-original-title="Xóa ảnh này")
                      i.fa.fa-times
                    | 
                    button.btn.btn-sm.btn-primary.btnPreview(data-toggle="tooltip"
                      data-original-title="Preview")
                      i.fa.fa-search
              else
                div.form-group.imageGroupInput#imageGroupInput
                  div.col-md-6
                    input.imagePath.form-control(name="imagePath" 
                      placeholder="Link hình ảnh sản phẩm" value="")
                  div.col-md-2
                    label
                      input.defaultImage(type="radio" name="defaultImage" checked="checked" value="1")
                      | Default
                  div.col-md-2
                    label
                      input.bannerImage(type="radio" name="bannerImage" value="1")
                      | Banner
                  div.col-md-2
                    button.btn.btn-sm.btn-danger.btnRemove(data-toggle="tooltip"
                      data-original-title="Xóa ảnh này")
                      i.fa.fa-times
                    | 
                    button.btn.btn-sm.btn-primary.btnPreview(data-toggle="tooltip"
                      data-original-title="Preview")
                      i.fa.fa-search
        div.col-lg-12.form-group
          label.col-lg-2(for="category") Loại sản phẩm
          div.col-lg-4
            if categories && categories.length > 0 || dataError && dataError.categories
              if dataError && dataError.categories
                - categories = dataError.categories
              select#category.form-control(name="category")
                option(value="") -Chọn loại sản phẩm-
                  each category in categories
                    - let value = category._id + ',' + category.name
                    - let selected = product.category && (product.category._id === category._id || product.category.name === category.name)
                    option(value=value selected=selected) !{category.name}
        div.col-lg-12.form-group
          label.col-lg-2(for="description") Mô tả sản phẩm
          div.col-lg-4
            textarea#description.form-control(name="description" rows="10" min="10") !{product.description}
        div.col-lg-12.form-group
          label.col-lg-2(for="amount") Số lượng
          div.col-lg-4
            input#amount.form-control(name="amount" 
              type="number" min="0" value!=product.amount)
        div.col-lg-12.form-group
          label.col-lg-2(for="price") Giá bán
          div.col-lg-4
            input#price.form-control(name="price" 
              type="number" min="0" value!=product.price)
          div.col-lg-2
            b ,000 VND
        div.col-lg-12.form-group
          label.col-lg-2(for="priceSale") Giá bán (giảm giá)
          div.col-lg-4
            input#priceSale.form-control(name="priceSale" 
              type="number" min="0" value!=product.priceSale)
          div.col-lg-2
            b ,000 VND

        if product.freeItems && product.freeItems.length > 0
          - let i = 0
          while i < 5
            - let freeItem = product.freeItems[i]
            - let freeItemName = "freeTitle" + (i + 1)
            - let freeItemValue = "freeValue" + (i + 1)
            - let lbl = "Thông tin thêm " + (i + 1)
            div.col-lg-12.form-group
            if freeItem
              label.col-lg-2= lbl
              div.col-lg-4
                input.form-control(name=freeItemName value!=product.freeItems[i].title placeholder="Nhập title item")
              div.col-lg-4
                input.form-control(name=freeItemValue value!=product.freeItems[i].value placeholder="Nhập nội dung hiển thị")
            else
              label.col-lg-2= lbl
              div.col-lg-4
                input.form-control(name=freeItemName placeholder="Nhập title item")
              div.col-lg-4
                input.form-control(name=freeItemValue placeholder="Nhập nội dung hiển thị")
            - i++
        else
          each i in [1, 2, 3, 4, 5]
            - let freeItemName = "freeTitle" + i
            - let freeItemValue = "freeValue" + i
            - let lbl = "Thông tin thêm " + i
            div.col-lg-12.form-group
              label.col-lg-2= lbl
              div.col-lg-4
                input.form-control(name=freeItemName placeholder="Nhập title item")
              div.col-lg-4
                input.form-control(name=freeItemValue placeholder="Nhập nội dung hiển thị")
        div.col-lg-12.form-group
          div.col-md-4
            button#add-product-btn.btn.btn-warning(type='submit') Update